* {
  margin: 0;
}

.App {
  padding: 0 10vw 0 10vw;
  background-color: lightgray;
  position: relative;
  height: 100vh;
}

.add-game {
  background-color: seagreen;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-around;
  position: relative;
  height: 40vh;
}

.add-game > h1 {
  position: absolute;
  top: 20px;
  left: 40px;
}

.form {
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: flex-start;
  align-content: space-around;
  position: relative;
  width: 330px;
  height: 200px;
}

.form > input {
  margin: 10px;
  width: 300px;
}

.form > button {
  position: absolute;
  right: 12px;
  bottom: 0;
}

.backlog {
  background-color: lightyellow;
  border-left: 1px solid black;
  border-right: 1px solid black;
  float: right;
  position: relative;
  height: 100vh;
  width: 30vw;
}

.backlog > h3 {
  margin-top: 30px;
  margin-left: 30px;
}

.backlog-item {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.game-card {
  border: 1px solid black;
  border-radius: 4px;
  height: 5vw;
  width: 24vw;
  margin-top: 15px;
  position: relative;
}

#title {
  position: absolute;
  top: 10px;
  left: 10px;
}

#hours {
  position: absolute;
  top: 10px;
  right: 10px;
}

#platform {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#controls {
  position: absolute;
  bottom: 0;
  right: 2px;
}

.game-card-edit {
  background-color: white;
  border-top: 1px solid black;
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  align-content: space-around;
  position: fixed;
  z-index: 5;
  bottom: 10px;
  height: 250px;
  width: 30vw;
}

.game-card-edit > input {
  margin: 10px;
  width: 300px;
}

.game-card-edit > button {
  position: absolute;
  right: 115px;
  bottom: 25px;
}

.completed {
  background-color: pink;
  border-left: 1px solid black;
  display: flex;
	flex-direction: column;
	align-items: flex-start;
  padding: 40px;
  min-height: 49vh;
}

.completed-item {
  border: 1px solid grey;
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px 20px 12px 20px;
  overflow: hidden;
  height: 15px;
  transition: .2s ease-out;
}

.completed-item:hover {
  height: 60px;
}

button {
  background-color: rgb(208, 235, 243);
  border: none;
  border-radius: 4px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
}