* {
  margin: 0;
  font-family: Overpass;
}

.App {
  padding: 5vh 18vw 0 18vw;
  background-color: rgb(32, 32, 32);
  position: relative;
  height: 100vh;
}


.header-title {
  color: white;
}

/* add game section */
.add-game {
  border: 1px solid black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgb(250,204,180);
  background: linear-gradient(335deg, rgba(250,204,180,1) 0%, rgba(255,255,255,1) 80%);
  position: relative;
  height: 35vh;
  width: 32vw;
}

.add-game > h3 {
  margin-top: 20px;
  margin-left: 30px;
}

.form {
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: flex-start;
  align-content: space-around;
  position: relative;
  margin: auto;
  width: 330px;
  height: 200px;
}

.form > input {
  margin: 10px;
  width: 300px;
}

.form > button {
  position: absolute;
  right: 12px;
  bottom: 0;
}

/* backlog section */
.backlog {
  border: 1px solid black;
  border-radius: 4px;
  background: rgb(180,217,250);
  background: linear-gradient(138deg, rgba(180,217,250,1) 0%, rgba(255,255,255,1) 80%);
  float: right;
  position: relative;
  min-height: 84vh;
  width: 30vw;
}

.backlog > h3 {
  margin-top: 20px;
  margin-left: 30px;
}

.backlog-item {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.game-card {
  border: 1px solid black;
  border-radius: 4px;
  background: rgb(178,126,255);
  background: linear-gradient(138deg, rgba(178,126,255,1) 8%, rgba(255,94,226,1) 47%, rgba(255,243,92,1) 100%);
  font-size: clamp(1.6vh, 1.6vw, 22px);
  height: 5vw;
  width: 22vw;
  margin-top: 15px;
  position: relative;
}

#title {
  position: absolute;
  top: 12px;
  left: 12px;
}

#hours {
  position: absolute;
  top: 12px;
  right: 12px;
}

#platform {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

#controls {
  position: absolute;
  bottom: 0;
  right: 2px;
}

.game-card-edit {
  border: 1px solid black;
  border-radius: 4px;
  background: rgb(180,216,250);
  background: linear-gradient(335deg, rgba(180,216,250,1) 16%, rgba(194,255,219,1) 80%);
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  align-content: space-around;
  position: fixed;
  bottom: 109px;
  z-index: 5;
  height: 250px;
  width: 30vw;
}

.edit-mode > .backlog-item > .game-card > p {
  color: rgb(58, 58, 58);
}

.game-card-edit > input {
  margin: 10px;
  width: 300px;
}

.edit-controls {
  position: absolute;
  right: 75px;
  bottom: 25px;
}

/* conpleted section */
.completed {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: rgb(180,216,250);
  background: linear-gradient(335deg, rgba(180,216,250,1) 0%, rgba(245,194,255,1) 80%);
  display: flex;
	flex-direction: column;
	align-items: flex-start;
  min-height: 49vh;
  width: 32vw;
}

.completed > h3 {
  margin-top: 20px;
  margin-left: 30px;
}

.completed-item {
  border: 1px solid grey;
  border-radius: 4px;
  background: rgb(104,197,255);
  background: linear-gradient(138deg, rgba(104,197,255,1) 8%, rgba(255,94,226,1) 47%, rgba(255,243,92,1) 100%);
  margin-top: 10px;
  margin-left: 60px;
  padding: 7px 20px 12px 20px;
  overflow: hidden;
  height: 15px;
  transition: .2s ease-out;
}

.completed-item > button {
  float: right;
}

.completed-item:hover {
  height: 68px;
}

.pop {
  margin-top: 7px;
}

button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
}